CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_SPL=y
CONFIG_MACH_SUN50I_H5=y
CONFIG_DRAM_CLK=624
CONFIG_DRAM_ZQ=3881977
# CONFIG_DRAM_ODT_EN is not set
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_DEFAULT_DEVICE_TREE="sun50i-h5-orangepi-zero-plus"
CONFIG_SUN8I_EMAC=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y
CONFIG_VIDEO_SUNXI=y
CONFIG_DM=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_SOFT_SPI=y
CONFIG_CMD_SPI=y
CONFIG_DM_VIDEO=y
CONFIG_DM_GPIO=y
CONFIG_ST7789V=y
CONFIG_DM_DEBUG=y

# - DEBUGGING - 
DEBUG=y
CONFIG_PRINTF=y
CONFIG_DEBUG=y
CONFIG_LOGLEVEL=10

# - Not working -
# CONFIG_SPLASH_SCREEN=y
# CONFIG_VIDEO_LOGO=y
# CONFIG_LOG=y
